{%extends "app1/index.html"%}
{%block content%}
<form action="/update">
    <table border="2" width="100%">
        <tr>
            <td>Rollno</td>
            <td><input type="text" name="ro"></td>
        </tr>
        <tr>
            <td>Subject1</td>
            <td><input type="text" name="sub1"></td>
        </tr>
        <tr>
            <td>Subject2</td>
            <td><input type="text" name="sub2"></td>
        </tr>
        <tr>
            <td><input type="submit" name="update"></td>
        </tr>
    </table>
</form>
{{msg}}
{%endblock%}